LLAMA_TUNED_URL=http://127.0.0.1:8080
LLAMA_BASE_URL=http://127.0.0.1:8082
INSTACART_API_KEY=
INSTACART_API_URL=https://connect.dev.instacart.tools
kroger_client_id=
kroger_client_secret=
KROGER_REDIRECT_URI=http://localhost:3000/api/kroger/callback
KROGER_API_URL=https://api.kroger.com/v1
